/* Jumbotron  */
.jumbotron {
    background-size: cover;
    height: 350px;
}





.title {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* our product */
body {
    margin-top: 20px;
    background-color: #fafafa !important;
}

@media (min-width: 0) {
    .g-mb-30 {
        margin-bottom: 2.14286rem !important;
    }
}

@media (min-width: 0) {
    .g-py-40 {
        padding-top: 2.85714rem !important;
        padding-bottom: 2.85714rem !important;
    }
}

@media (min-width: 0) {
    .g-px-20 {
        padding-left: 1.42857rem !important;
        padding-right: 1.42857rem !important;
    }
}

@media (min-width: 0) {
    .g-mb-5 {
        margin-bottom: 0.35714rem !important;
    }
}

.g-bg-white {
    background-color: #fff !important;
}

.u-shadow-v18 {
    box-shadow: 0 5px 10px -6px rgba(0, 0, 0, 0.15);
}

.g-color-primary {
    color: #72c02c !important;
}

.g-font-size-16 {
    font-size: 1.14286rem !important;
}

.g-mb-10 {
    margin-bottom: 0.71429rem !important;
}

.g-mb-10 {
    margin-bottom: 0.71429rem !important;
}

.g-color-black {
    color: #000 !important;
}

.g-font-weight-600 {
    font-weight: 600 !important;
}

/* Search */
.container-2 input#search {
    width: 40px;
    height: 40px;
    background: #2b303b;
    border: none;
    font-size: 11pt;
    float: left;
    color: #dbdbdb;
    padding-left: 35px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    color: #fff;

    -webkit-transition: width .55s ease;
    -moz-transition: width .55s ease;
    -ms-transition: width .55s ease;
    -o-transition: width .55s ease;
    transition: width .55s ease;
}

.container-2 input#search::-webkit-input-placeholder {
    color: #cccccc;
}

.container-2 input#search:-moz-placeholder {
    /* Firefox 18- */
    color: #cccccc;
}

.container-2 input#search::-moz-placeholder {
    /* Firefox 19+ */
    color: #cccccc;
}

.container-2 input#search:-ms-input-placeholder {
    color: #cccccc;
}

.container-2 .icon {
    position: absolute;
    top: 81%;
    margin-left: 13px;
    margin-top: 19px;
    z-index: 2;
    color: #cccccc;
}

.container-2 input#search:focus,
.container-2 input#search:active {
    outline: none;
    width: 290px;
}

.container-2:hover input#search {
    width: 290px;
}

.container-2:hover .icon i {
    color: #ffffff;
}

hr {
    width: 220px;
    border-top: 3px solid #000000;
}

.about-container {
    width: 100%;
    height: 525px;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 3px 3px 13px rgba(0, 0, 0, 0.2);
    display: flex;
    margin: 5% auto 50px auto;
    position: relative;
    justify-content: space-evenly;
    align-items: center;
}

.about-container img {
    height: 300px;
}

.about-text p:nth-child(1) {
    color: #403e3e;
    font-family: monospace;
    font-weight: bold;
    font-size: 30px;
    line-height: 0px;
}

.about-text p:nth-child(2),
.about-text p:nth-child(3) {
    color: #7e7d7d;
    font-size: 15px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

footer {
    height: 550px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: #333333;
}

footer p {
    font-family: monospace;
}

footer p:nth-child(1) {
    font-size: 30px;
    font-weight: bold;
    color: #ffffff;
    line-height: 5px;
}

footer p:nth-child(2) {
    font-size: 16px;
    color: #ffffff;
}

.social-icons a {
    width: 75px;
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e6e3e3;
    margin: 20px 10px;
    border-radius: 50%;
}

.social-icons {
    display: flex;
}

.copyright {
    color: #ffffff;
    font-size: 15px;
    position: absolute;
    left: 50%;
    bottom: -15px;
    transform: translate(-50%);
}

.social-icons i {
    color: #000000;
}

.social-icons a:hover {
    background-color: #000000;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2);
    transition: all ease-in 0.5s;
}

.social-icons a:hover i {
    color: #ffffff;
    transition: all ease-in 0.5s;
}

.Contactus {
    color: #ffffff;
    font-family: monospace;
    font-size: 15px;
}

.icon a {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e6e3e3;
    margin: 20px 10px;
    border-radius: 5%;
}

.icon a:hover {
    background-color: #000000;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2);
    transition: all ease-in 0.5s;
}

.icon a:hover i {
    color: #ffffff;
    transition: all ease-in 0.5s;
}








/* Dextop Version */
@media (min-width: 992px) {
    .nav-link {
        text-transform: uppercase;
        margin-right: 30px;
    }

    .nav-link:hover::after {
        content: '';
        display: block;
        border-bottom: 3px solid #0B63DC;
        width: 50%;
        margin: auto;
        padding-bottom: 5px;
        margin-bottom: -8px;
    }

    .container-2 input#search {
        width: 40px;
        height: 40px;
        background: #2b303b;
        border: none;
        font-size: 11pt;
        float: left;
        color: #dbdbdb;
        padding-left: 35px;
        -webkit-border-radius: 25px;
        -moz-border-radius: 25px;
        border-radius: 25px;
        color: #fff;

        -webkit-transition: width .55s ease;
        -moz-transition: width .55s ease;
        -ms-transition: width .55s ease;
        -o-transition: width .55s ease;
        transition: width .55s ease;
    }

    .container-2 input#search::-webkit-input-placeholder {
        color: #cccccc;
    }

    .container-2 input#search:-moz-placeholder {
        /* Firefox 18- */
        color: #cccccc;
    }

    .container-2 input#search::-moz-placeholder {
        /* Firefox 19+ */
        color: #cccccc;
    }

    .container-2 input#search:-ms-input-placeholder {
        color: #cccccc;
    }

    .container-2 .icon {
        position: absolute;
        top: 22%;
        margin-left: 13px;
        margin-top: 24px;
        z-index: 2;
        color: #cccccc;
    }

    .container-2 input#search:focus,
    .container-2 input#search:active {
        outline: none;
        width: 290px;
    }

    .container-2:hover input#search {
        width: 290px;
    }

    .container-2:hover .icon {
        color: #cccccc;
    }

    .about-container {
        width: 85%;
        height: 350px;
        background-color: #fff;
        border-radius: 18px;
        box-shadow: 3px 3px 13px rgba(0, 0, 0, 0.2);
        display: flex;
        margin: 5% auto 50px auto;
        position: relative;
        justify-content: space-evenly;
        align-items: center;
    }

    .about-container img {
        height: 300px;
    }

    .about-text p:nth-child(1) {
        color: #403e3e;
        font-family: monospace;
        font-weight: bold;
        font-size: 30px;
        line-height: 0px;
    }

    .about-text p:nth-child(2),
    .about-text p:nth-child(3) {
        color: #7e7d7d;
        font-size: 16px;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }

}